@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-fugaz-one {
    font-family: 'Fugaz One', cursive;
}

.font-alatsi {
    font-family: 'Alatsi', sans-serif;
}

.bg-prism {
    background: url('../svg/bgPrism.svg');
}
